<a href="/">Back Home</a>
<form action="/form/add/car_models" method="POST" class="addModel">
  <label for="model_name">
    Model Name:
    <input type="text" name="model_name" id="model_name" />
  </label>
  <label for="model_imageurl">
    Model Image Url:
    <input type="url" name="model_imageurl" id="model_imageurl" />
  </label>
  <label for="vehicle_type">
    Vehicle_type:
    <input type="url" name="vehicle_type" id="vehicle_type" />
  </label>
  <label for="brand_id">
    Brand:
    <select name="brand_id" id="brand_name">
      <% brand_categories.forEach((brand) => { %>
      <option value="<%= brand.brand_id %>"><%= brand.brand_name %></option>
      <% }) %>
    </select>
  </label>
  <button type="submit" class="addBrandBtn">Add Model</button>
</form>
