<nav>
  <div class="title">Eric's Garage</div>

  <div class="search">
    <label for="search">
      <input type="text" name="search" id="search" placeholder="Search" />
    </label>
  </div>
</nav>
