<nav>
  <div class="title">Eric's Garage</div>

  <div class="search">
    <form action="/search" method="GET">
      <label for="search_input">
        <input
          type="text"
          name="search_input"
          id="search_input"
          placeholder="Search"
        />
      </label>

      <button type="submit" class="searchBtn">Search</button>
    </form>
  </div>
</nav>
