<nav>
  <div class="title">Eric's Garage</div>

  <div class="search">
    <form action="/search" method="GET"></form>
    <label for="search_part_name">
      <input
        type="text"
        name="search_part_name"
        id="search_part_name"
        placeholder="Search"
      />
    </label>
  </div>
</nav>
