<div class="sidebar">
  <h1>Menu</h1>
  <div class="categories">
    <a href="/">All Categories</a>

    <% if (brand_categories) { %>
    <h2>Brands</h2>
    <ul class="category brand_categories">
      <% brand_categories.forEach((category) => { %>
      <li>
        <a href="/category/<%= category.brand_id %>"
          ><%= category.brand_name %></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %> <% if (vehicleType_categories) { %>
    <h2>Vehicle Type</h2>
    <ul class="category vehicleType_categories">
      <% vehicleType_categories.forEach((category) => { %>
      <li>
        <a href="/category/type/<%= category.vehicle_type %>"
          ><%= category.vehicle_type %></a
        >
      </li>
      <% }) %>
    </ul>
    <% } %>

    <div class="sidebarBtns">
      <a href="/form/add/car_brands" class="addBrand">+ Car Brand</a>
      <a href="/form/add/car_models" class="addBrand">+ Car Model</a>
    </div>
  </div>
</div>
