body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}

nav {
  padding: 1em;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav div.title {
  font-weight: bold;
  font-size: 2em;
}

nav div.search input {
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
  padding: 1em;
}

nav div.search input::placeholder {
  color: rgb(219, 219, 219);
}
nav div.search input:hover::placeholder {
  color: rgb(171, 171, 171);
}
