body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(1fr, 100px) 1fr;
}

nav {
  grid-column: span 4;
  padding: 1em;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav div.title {
  font-weight: bold;
  font-size: 2em;
}

nav div.search input {
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
  padding: 1em;
}

nav div.search input::placeholder {
  color: rgb(219, 219, 219);
}
nav div.search input:hover::placeholder {
  color: rgb(171, 171, 171);
}

div.sidebar {
  grid-column: 1 / 2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
div.sidebar h1 {
  font-weight: bold;
  font-size: 1.5em;
}

div.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.categories h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

div.content {
  grid-column: span 3;
}

ul li {
  margin-bottom: 10px;
}

img {
  width: 200px;
}
