body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(1fr, 100px) 1fr;
}

nav {
  grid-column: span 5;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav div.title {
  font-weight: bold;
  font-size: 2em;
}

nav div.search input {
  border-radius: 20px;
  border: none;
  background-color: rgb(244, 244, 244);
  font-weight: bold;
  padding: 1em;
}

nav div.search input::placeholder {
  color: rgb(219, 219, 219);
}
nav div.search input:hover::placeholder {
  color: rgb(171, 171, 171);
}

div.sidebar {
  grid-column: 1 / 2;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
div.sidebar h1 {
  font-weight: bold;
  font-size: 1.5em;
}

div.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div.categories h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

div.content {
  margin: 1em;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
div.content > h1 {
  font-weight: bold;
  font-size: 1.3em;
}

div.itemsContainer,
div.modelsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

div.item,
div.model {
  padding: 1em;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 20px;
  box-shadow: 2px 3px 10px lightgrey;
}

div.item:hover,
div.model:hover {
  box-shadow: 2px 3px 20px lightgrey;
}

div.itemImg img,
div.modelImg img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

div.item a,
div.model a {
  padding: 1em;
  color: white;
  border-radius: 10px;
  background-color: #3895ff;
}

div.item a:hover,
div.model a:hover,
div.itemInfo form > button:hover,
button#editSubmitBtn:hover {
  background-color: #1868c4;
  transition: background-color 200ms ease;
  cursor: pointer;
}

ul li {
  margin-bottom: 10px;
}

div.itemContent {
  grid-column: span 4;

  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
}

div.itemContent > a,
div.formContent > a {
  font-weight: bold;
  font-size: 1.2em;
}

div.itemContainer {
  display: flex;
  gap: 2em;

  justify-content: center;
}
div.itemContent > a:hover,
div.formContent > a:hover {
  text-decoration: underline;
}
div.itemContainer div.itemImg img {
  height: 400px;
  width: 450px;
}

div.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

div.itemInfo > h1.item_title {
  font-weight: bold;
  font-size: 1.2em;
}
div.itemInfo > h2.item_brand {
  color: #3895ff;
  font-weight: bold;
}

div.itemInfo > h2.item_description {
  margin-top: 1em;
}

div.itemInfo form > button,
button#editSubmitBtn {
  margin-top: 2em;
  background-color: #3895ff;
  padding: 1em;
  color: white;
  border: none;
  border-radius: 10px;
}

div.formContent {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;
}

div.formContent form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2em;
}
div.formContent form label {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1em;
}
div.formContent form label > input {
  border: none;
  flex-grow: 1;
  padding: 0.5em;

  font-size: 1em;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
}

input#part_price,
input#part_quantity {
  flex-grow: 0;
  width: 100px;
}
input#part_oem {
  flex-grow: 0;
}

textarea#part_description {
  border: none;
  padding: 1em;
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  min-height: 1em;
}

select {
  padding: 1em;
  border: none;
}
